body {
    background-color: rgb(104, 104, 104);
}

#btnNew {
    position: relative;
    top: 50px;
}

span,
label,
#iconplus {
    color: white;
}


.fa-trash {
    color: red;
}

.nom_prenom {
    font-weight: bold;
    font-size: 1.5em;
}

.travaux {
    color: white;
    font-size: 2em;
}

.fa-download {
    margin-left: 1%;
}

.fa-info-circle,
.fa-download,
.fa-edit,
.fa-plus-circle,
#btnNew>i {
    color: rgb(44, 170, 44);
}

td {
    white-space: nowrap;
    text-align: center;
}